.NavBarDiv {
    display: flex;
    color: black;
    text-align: center;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 30px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    position: fixed;
    overflow: hidden;
    width: 100vw;
    background-color: rgb(247, 247, 252);
    z-index:450;
    top:0;
}

.LeftNavLink {
    font-family: Roboto; 
    font-size: 20px;
    color: black;
    display: inline-block;
}
.RightNavLink {
    font-family: Roboto; 
    font-size: 20px;
    color: black;
    display: inline-block;
    padding-right: 20px;
    
}

li {
    display: inline-block;
    padding: 0 30px;
    font-family: Roboto; 
    font-size: 20px;
}

a  {
    text-decoration: none;
    color: rgb(10, 10, 10);
    outline: none;
}

.shoppingCart {
    height: 16px;
    width: auto;
}

.activeLink {
    color: #1628cc;
}

.rootActive{
    color:white;
    border-radius: 49% 51% 58% 42% / 35% 74% 26% 65%;
    border-color: #1316ad;
    background-color: #1520b6;
    
}
.NavLink {
    padding: 10px 30px;
}

.NavLink:hover {
    cursor: pointer;
    color:#13b93d;
}

.Logo {
    padding: 10px;
    background-color: #1316ad;
    border-radius: 49% 51% 58% 42% / 35% 74% 26% 65%;
}

.Logo:hover {
    color:rgb(245, 245, 248);
    border-radius: 49% 51% 58% 42% / 35% 74% 26% 65%;
    background-color: #097432;
}

.HamMenu {
    padding: 0px 20px 0px;
}

.NavLinkMobile{
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    font-weight: 400;
    font-size: 20px;
}

.mobileLinksWrapper {
    display: flex; 
    flex-direction: column;
    padding-left: 0;
}

@media(max-width: 624px) {
    .NavLink {
        display: none;
    }
    .RightNavLink {
        padding: 0;
        order:1;
    }
    .LeftNavLink {
        order:2;
        padding-right: 10px;
    }
    .NavLinkMobile {
        flex-direction: row;
        justify-content: center;
    }

}

@media(min-width: 625px) {
    .HamMenu{
        display: none;
    }
}