.CartCountNum {
    border: 1px solid #2116be;
    padding: 0px;
    margin: auto;
    border-radius: 25px;
    height: 20px;
    width:20px;
    color: #2116be;
    color: white;
    background-color: #2116be;
    z-index: 449;
    text-align: center;
    vertical-align:middle;
}

@media(max-width: 620px) {
    .CartCountNum {
        margin:0;
    }
}